**/*.log*
**/*.ovpn
vpn/ovpn-data
mlflow/data
nginxproxymanager/data
nginxproxymanager/letsencrypt
nginxproxymanager/mysql
owncast/data
teamspeak/data
teamspeak/data-ts6
**/*.mp4
**/*.gif
**/*.png
**logs.txt
