services:
  mlflow-server:
    image: mlflow-server
    build: .
    container_name: mlflow-server
    volumes:
      - ./mlruns:/usr/src/app/mlruns
      # - ./mlflow.db:/usr/src/app/mlflow.db
    restart: unless-stopped
    networks:
      - web

  optuna-db:
    image: postgres:16
    environment:
      POSTGRES_DB: optuna
      POSTGRES_USER: optuna
      POSTGRES_PASSWORD: optuna
    volumes:
      - ./data:/var/lib/postgresql/data
    # ports:
    #   - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U optuna -d optuna" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - web

  optuna-pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    # ports:
    #   - "5050:80"
    depends_on:
      - optuna-db
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    external: true
    name: nginxproxymanager_default
